<div class="mb-3">
    <button class="btn btn-primary" [routerLink]="['/add']">Add</button>
</div>
<table class="table table-bordered table-responsive-sm table-striped table-light">
    <thead>
        <th class="font-weight-bold text-center">ID</th>
        <th class="font-weight-bold text-center">Name</th>
        <th class="font-weight-bold text-center">Gender</th>
        <th class="font-weight-bold text-center">Age</th>
        <th class="font-weight-bold text-center">Salary</th>
        <th class="font-weight-bold text-center">Location</th>
        <th class="font-weight-bold text-center" colspan="2">Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of list">
            <td class="text-center"> {{item.id}} </td>
            <td class="text-center"> {{item.name}} </td>
            <td class="text-center"> {{item.age}} </td>
            <td class="text-center"> {{item.gender}} </td>
            <td class="text-center"> {{item.salary}} </td>
            <td class="text-center"> {{item.location}} </td>
            <td>
                <div class="row">
                    <button class="btn btn-danger mx-auto" (click)="deleteEmployeeDetails(item.id)">Delete</button>
                </div>
            </td>
            <td>
                <div class="row">
                    <button class="btn btn-warning mx-auto" [routerLink]="['/update', item.id]">Edit</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
