.fa-edit:hover {
    color: yellowgreen;
    cursor: pointer;
}

.fa-edit:active {
    color: green;
}

.fa-trash-alt:hover {
    color: orangered;
    cursor: pointer
}

.fa-trash-alt:active {
    color: red;
}
